<h5>{{ 'Recent Activity'|trans({}, 'AdminLTEBundle') }}</h5>
<p>
<a href="#">
    <strong>{{ 'Langdon\'s Birthday'|trans({}, 'AdminLTEBundle') }}</strong>
    <br>
    <small>{{ 'Will be 23 on April 24th'|trans({}, 'AdminLTEBundle') }}</small>
</a>
</p>

<h5>{{ 'Tasks Progress'|trans({}, 'AdminLTEBundle') }}</h5>
<a href="#">
    <p>
        {{ 'Custom Template Design'|trans({}, 'AdminLTEBundle') }}
        <small class="label label-danger pull-right">70%</small>
    </p>

    <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
    </div>
</a>
