<h3 class="control-sidebar-heading">{{ 'Recent Activity'|trans({}, 'AdminLTEBundle') }}</h3>
<ul class="control-sidebar-menu">
    <li>
        <a href="#">
            <i class="menu-icon fas fa-birthday-cake bg-red"></i>

            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'Langdon\'s Birthday'|trans({}, 'AdminLTEBundle') }}</h4>

                <p>{{ 'Will be 23 on April 24th'|trans({}, 'AdminLTEBundle') }}</p>
            </div>
        </a>
    </li>
</ul>

<h3 class="control-sidebar-heading">{{ 'Tasks Progress'|trans({}, 'AdminLTEBundle') }}</h3>
<ul class="control-sidebar-menu">
    <li>
        <a href="javascript::;">
            <h4 class="control-sidebar-subheading">
                {{ 'Custom Template Design'|trans({}, 'AdminLTEBundle') }}
                <span class="label label-danger pull-right">70%</span>
            </h4>

            <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
            </div>
        </a>
    </li>
</ul>
