
{% extends 'base-avanzu.html.twig' %}
{#
    Demo of the "avanzu shim layout" capabilities
#}

{% block avanzu_page_title %}{{ 'forms.title'|trans }}{% endblock %}
{% block avanzu_page_subtitle %}{% endblock %}

{% block avanzu_page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% form_theme form '@AdminLTE/layout/form-theme-horizontal.html.twig' %}
                {% block box_before %}{{ form_start(form) }}{% endblock %}
                {% block box_title %}{{ 'A horizontal form demo'|trans }}{% endblock %}
                {% block box_body %}
                    <p>
                    Using the additional horizontal form theme:
                    <pre>{% verbatim %}{% form_theme form '@AdminLTE/layout/form-theme-horizontal.html.twig' %}{% endverbatim %}</pre>
                    </p>
                    <p>
                        Submit the form to see validation errors...
                    </p>
                    <hr>
                    {{ form_widget(form) }}
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        <button type="reset" class="btn btn-warning "><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary "><i class="fa fa-check-square"></i> {{ 'Submit'|trans }}</button>
                    </div>
                {% endblock %}

                {% block box_after %}{{ form_end(form)}}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
            {% block form_sidebar %}{% endblock %}
        </div>
    </div>
{% endblock %}
