{% extends 'base-avanzu.html.twig' %}

{% block avanzu_page_title %} Form demo {% endblock %}
{% block avanzu_page_subtitle %}with activated iCheck plugin and sidebar content{% endblock %}

{% block avanzu_page_content %}
    <div class="row">
        <div class="col-md-6">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{{ form_start(form) }}{% endblock %}
                {% block box_title %}{{ 'A form demo'|trans }}{% endblock %}
                {% block box_body %}
                    <p>
                        Submit the form to see validation errors...
                    </p>
                    <hr>
                    {{ form_widget(form) }}
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        <button type="reset" class="btn btn-warning "><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary "><i class="fa fa-check-square"></i> {{ 'Submit'|trans }}</button>
                    </div>
                {% endblock %}

                {% block box_after %}{{ form_end(form)}}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'aqua',
                'icon'  : 'fas fa-comments',
            } %}
                {% block box_text %}Vestibulum ante ipsum primis{% endblock %}
                {% block box_number %}999.9{% endblock %}
                {% block progress_description %}Works as well without progress bar{% endblock %}
            {% endembed %}

            {# ... box widget with defaults ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% block box_title %}Widget box title{% endblock %}
                {% block box_body %}
                    <div class="callout callout-info">
                        Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                        dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                        Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                        venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                        ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                        porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                        tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                        Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                        metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                        nunc.
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
