{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_title %}Demo application{% endblock %}

{% block navbar_start %}
    <li class="nav-item dropdown messages-menu d-none d-sm-block">
        <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="far fa-globe"></i>
            <span class="badge badge-primary navbar-badge">{{ app_locales|length }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg p-0">
            {% for locale in app_locales %}
                <a class="dropdown-item{% if app.request.locale == locale%} active{% endif %}" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                    {{ locale|language(app.request.get('_locale')) }}
                    <span class="float-right">{{ locale }}</span>
                </a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'includes/javascript.html.twig' %}
{% endblock %}
